<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/abtsty.css')}}">
    <title>CryptoCurrencies</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>
<body>
    <div class="NavigationBar">
        <a class="NavButton" href="{{url_for('index')}}">Home</a>
    </div>

    <div>
        <p>Hello</p>
    </div>
</body>
</html>