<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>CryptoCurrencies</title>
</head>
<body>
    <div class="NavigationBar">
        <a class="NavButton" href="{{url_for('about')}}">About Crypto</a>
        <div class="Dropdown">
            <button class="NavButton">Datas</button>
            <div class="DropdownContent">
                <a href="{{url_for('tabletop10')}}">Top 10 Values</a>
                <a href="{{url_for('tablebottom10')}}">Bottom 10 Values</a>
            </div>
        </div>
        <a class="NavButton" href="{{url_for('analysis')}}">Analysis</a>
    </div>
    
    <div class="OuterBody">
        <div class="BackBoard">
            <div style="border-top-left-radius: 5px; background-color: darkgrey;" class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div style="border-top-right-radius: 5px; background-color: darkgrey;" class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox"><strong>A</strong></div>
            <div class="SingleBox"><strong>B</strong></div>
            <div class="SingleBox"><strong>O</strong></div>
            <div class="SingleBox"><strong>U</strong></div>
            <div class="SingleBox"><strong>T</strong></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox"><strong>T</strong></div>
            <div class="SingleBox"><strong>H</strong></div>
            <div class="SingleBox"><strong>E</strong></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox"><strong>P</strong></div>
            <div class="SingleBox"><strong>R</strong></div>
            <div class="SingleBox"><strong>O</strong></div>
            <div class="SingleBox"><strong>J</strong></div>
            <div class="SingleBox"><strong>E</strong></div>
            <div class="SingleBox"><strong>C</strong></div>
            <div class="SingleBox"><strong>T</strong></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div style="border-bottom-left-radius: 5px; background-color: darkgrey;" class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div style="border-bottom-right-radius: 5px; background-color: darkgrey;" class="SingleBox SingleBoxEmpty"></div>
        </div>
        <div class="AboutProject">
            <h1 class="Tit">Welcome to the Cryptocurrency Data Analysis Project!</h1>
            <p>In this dynamic exploration of the cryptocurrency landscape, our project aims to provide you with comprehensive
                insights and analyses derived from historical data of prominent cryptocurrencies. Immerse yourself in the
                intricate details of Binance Coin, Bitcoin, Bitcoin Cash, Bitcoin SV, Cardano, EOS, Ethereum, Litecoin, Stellar,
                Tether, Tezos, and XRP.</p>
            <p>Our meticulously curated data sources offer a panoramic view of market trends, allowing you to uncover hidden
                patterns, identify outliers, and make informed decisions. Whether you're a seasoned investor or a curious
                enthusiast, this platform caters to both beginners and experts alike.</p>
            <p>Discover the Top 10 and Bottom 10 values, delve into detailed tables, and embark on a journey to decode the
                intricacies of the cryptocurrency market. The user-friendly format ensures a seamless experience, empowering
                you to navigate through various sections effortlessly.</p>
            <p>We extend our gratitude for joining us in unraveling the fascinating world of cryptocurrencies. As you traverse
                through the application, leverage the wealth of information to gain valuable insights and stay ahead in the
                ever-evolving landscape of digital currencies.</p>
            <p>Happy analyzing, and may your exploration be as rewarding as the potential of the blockchain itself!</p>
        </div>
        
    </div>
</body>
</html>