<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>
<body>
    <h1>Hello World</h1>
    <img src="http://127.0.0.1:5000/static/Women%20Sitting%20On%20Ground.jpg" height="270">
    <div>
        <p>
            I am a paragraph of text.
        </p>

        <p>
            I am another paragraph of text.
        </p>

        <p>
            I am a third paragraph of text.
        </p>

        <button>
            I am a button.
        </button>

        <p>
            {{z}}
        </p>

    </div>
</body>
</html>