<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>CryptoCurrencies</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>
<body>
    <div class="OuterBody">
        <div class="BackBoard">
            <div style="border-top-left-radius: 5px; background-color: darkgrey;" class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div style="border-top-right-radius: 5px; background-color: darkgrey;" class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox"><strong>A</strong></div>
            <div class="SingleBox"><strong>B</strong></div>
            <div class="SingleBox"><strong>O</strong></div>
            <div class="SingleBox"><strong>U</strong></div>
            <div class="SingleBox"><strong>T</strong></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox"><strong>T</strong></div>
            <div class="SingleBox"><strong>H</strong></div>
            <div class="SingleBox"><strong>E</strong></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox"><strong>P</strong></div>
            <div class="SingleBox"><strong>R</strong></div>
            <div class="SingleBox"><strong>O</strong></div>
            <div class="SingleBox"><strong>J</strong></div>
            <div class="SingleBox"><strong>E</strong></div>
            <div class="SingleBox"><strong>C</strong></div>
            <div class="SingleBox"><strong>T</strong></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div style="border-bottom-left-radius: 5px; background-color: darkgrey;" class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div class="SingleBox SingleBoxEmpty"></div>
            <div style="border-bottom-right-radius: 5px; background-color: darkgrey;" class="SingleBox SingleBoxEmpty"></div>
        </div>
        <div class="AboutProject">
            <h1>Hello World</h1>
            <p>Hi</p>
        </div>
    </div>


</body>
</html>