<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Document</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>
<body>
    <div>
        <h1>The World Of Cryptocurrencies</h1>
        <img src="{{url_for('static',filename='images/Cryptoimg1.css')}}" height="270">
        <p>
            I am a paragraph of text.
        </p>

        <p>
            I am another paragraph of text.
        </p>

        <p>
            I am a third paragraph of text.
        </p>

        <button>
            I am a button.
        </button>

        <p>
            {{z}}
        </p>

    </div>
</body>
</html>